A:hover {color: #FF0000;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
.style2 {font-size: 10px;font-family: "MS Sans Serif";color: #999999;}
.style3 {color: #C40000;font-size: 10px;}
.style4 {font-size: 10px;font-family: "MS Sans Serif";color: #FFFFFF;}
.style5 {font-family: "MS Sans Serif";font-size: 12px;color: #FFFF00;}
.style6 {font-family: "MS Sans Serif";font-size: 14px;color: #FF0000;}
.style11 {color: #999999;font-family: "MS Sans Serif";font-size: 10px;}
.style14 {color: #999999}
.style16 {font-size: 14px}
.style17 {font-size: 14px;font-family: "MS Sans Serif";font-weight: bold;}
.style18 {font-size: 9px; font-family: "MS Sans Serif"; font-weight: bold; }
.style19 {color: #FF0000;font-size: 10px;}
.login {font-size: 12px;font-family: "MS Sans Serif";font-weight: bold; color:#999999; }
td.top {
background-color: #000080;
text-align: right;
} 
td.bottom {
background-color: #ffe38c;
padding: 15px;
}
body {
	margin:0;
	padding:0;
	background-color: #000000;
	background-image:url(../images/background.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-position:top;
	background-attachment:fixed;
	
	 height:100%; overflow-y:auto;
}
img { border:0;}
 
.style21 {
	color: #CCCCCC;
	font-size: 9px;
}
.togglehover:hover img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); -moz-opacity: 0.7;} /* use with Tag a for hilight */
 
#header_container { background:#000000; height:150px; left:0; position:fixed; width:100%; top:0; }
#header{ line-height:60px; margin:0 auto; width:940px; text-align:center; } 
#container { margin:0 auto; overflow:auto; padding:150px 0; width:940px; }
#content{}
#content-main {width:700px; float:left; background-color:#1f1f1f; border:1px solid #444;  }
#content-left-sidebar { width:231px; float:left;  }

#login-box {border:1px solid #666; height:300px;width: 200px; background: url("../images/fps-bgtable3.jpg") no-repeat scroll 0 0 transparent;  }
#login-box ul { margin-top:10px; }
#login-box li {float:left; display:inline; width:108px; height:60px; padding:0; margin:0;}

.head-box-left { 
	background: url("../images/fps-bgtable3.jpg") no-repeat scroll 0 0 transparent;
	height: 37px;
    width: 231px;
}

#user-detail { margin:10px 0 0 0;border:1px solid #666; height:300px;width: 200px; background: url("../images/fps-bgtable3.jpg") no-repeat scroll 0 0 transparent;  }


div.preview {
    border: 1px dotted #CCCCCC;
    background-image: url("../images/add_img.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 74px;
	overflow: hidden;
	width: 74px;
	cursor: pointer;
}

.UploadButton {
	width: 100%;
	height:100%;
	overflow: hidden;
}

div.preview:hover {
    border: 1px dotted #CCCCCC;
    background-image: url("../images/add_img_hover.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 74px;
	overflow: hidden;
	width: 74px;
	cursor: pointer;
}

#loading {
	overflow: hidden;
	margin:20px 0 0 20px;
	display:none;	
}

.upload {
    width: 500px;
}
.column, .columns {
    display: inline;
    float: left;
    margin: 0 0 0 20px;
}

span.wrap.hotness {
	width: 300px;
    margin-left: 30px;
}
span.wrap {
	margin: 0;
    padding: 10px;
}
span.wrap {
    
    display: inline-block;
    line-height: 1;
    margin: 0 0 14px;
    padding: 3px;
}

span.wrap button {
    display: block;
    margin-top: 10px;
}
.button {
    background: url("/playground/images/overlay-button.png") repeat-x scroll 0 0 #222222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    overflow: visible;
    padding: 5px 15px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    width: auto;
}

#footer{width:920px; height:200px;  float:left;     text-align:center;}
#footer #content-foot{ padding-top:30px;}
#banner-follow {position:fixed;  left:0; bottom:0; width:200px; height:217px;}
*html #banner-follow { position:absolute;}
 
#banner-follow1 {position:fixed;  left:0; bottom:0; width:400px; height:417px; display:none;}
*html #banner-follow1 { position:absolute;}

#banner-follow a { color:#ccc; text-decoration:none; display:block;}
 
#banner-follow1 a { color:#ccc; text-decoration:none; display:block;}
.style46 {color: #D8D8D8}
.style47 {
	font-size: 14px;
	font-weight: bold;
}
.style48 {color: #CCCCCC}
.style49 {color: #EFCB54}
.style50 {color: #EFCB54; font-weight: bold; }

div.wrap {
width : 640px;
margin : 0 auto;
text-align : left;
}

div#top div#nav {
float : left;
clear : both;
width : 500px;
height : 52px;
margin : 22px 0 0;
}
div#top div#nav ul {
float : left;
width : 500px;
height : 52px;
list-style-type : none;
}
div#nav ul li {
float : left;
height : 52px;
}
div#nav ul li a {
border : 0;
height : 52px;
display : block;
line-height : 52px;
text-indent : -9999px;
}

div#slide-holder{
	width : 640px;
	height : 330px;
}

div#slide-holder div#slide-runner {
width : 630px;
height : 300px;
overflow : hidden;
position : absolute;
border: solid 5px #999;

}
div#slide-holder img {
margin : 0;
display : none;
position : absolute;
width:630px;
height:300px;
}
div#slide-holder div#slide-controls {
left : 0;
bottom : 228px;
width : 500px;
height : 0px;
display : none;
position : absolute;
background : url(../images/slide-bg.png) 0 0;
}
/*div#header div#slide-holder div#slide-controls p.text {
float : left;
color : #fff;
display : inline;
font-size : 10px;
line-height : 16px;
margin : 15px 0 0 20px;
text-transform : uppercase;
}*/


#adverLeft { width:262px; height:596px; position:absolute; text-indent:-9999px; left:0; top:0;}
#adverLeft a { width:262px; height:596px; display:block;}
#adverRight { width:262px; height:596px; position:absolute; text-indent:-9999px; right:0; top:0;}
#adverRight a { width:262px; height:596px; display:block;}

div.registers_wrapper { 
	color: #CCCCCC;
    float: left;
    margin-right: 0;
    padding-top: 10px;
    width: 900px;
	font
}

div.registers_wrapper div.rule {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #444444;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding: 5px;
}

div.registers_wrapper div.login {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #444444;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding: 5px;
	font-size:11px;
}

div.registers_wrapper div.login h2 {
	border-bottom: 1px solid #CECECE;
    color: #CECECE;
	font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

fieldset dl {
    padding: 4px 0;
}
fieldset dt {
    display: block;
    float: left;
    text-align: left;
    width: 40%;
}
fieldset dd {
    margin-bottom: 3px;
    margin-left: 41%;
    vertical-align: top;
}
fieldset.fields1 dt {
    border-right-width: 0;
    width: 15em;
}
fieldset.fields1 dd {
    border-left-width: 0;
    margin-left: 15em;
}
fieldset.fields1 {
    background-color: transparent;
}
fieldset.fields1 div {
    margin-bottom: 3px;
}
fieldset.fields2 dt {
    border-right-width: 0;
    width: 15em;
}
fieldset.fields2 dd {
    border-left-width: 0;
    margin-left: 16em;
}
dt label {
    font-weight: bold;
    text-align: left;
}
dd label {
    color: #333333;
    white-space: nowrap;
}
dd input, dd textarea {
    margin-right: 3px;
}
dd select {
    width: auto;
}
dd textarea {
    width: 85%;
}
fieldset dl:hover dt label {
    color: #C2C2C2;
}
fieldset.fields2 dl:hover dt label {
    color: inherit;
}
.inputbox {
    background-color: #34383C;
    border-color: #B4BAC0;
    color: #D4D4D4;
}
.inputbox:hover {
    border-color: #41464B;
}
.inputbox:focus {
    border-color: #41464B;
    color: #B1B1B1;
}

a.button1, input.button1 {
	cursor: pointer;
    border-color: #666666;
	background-color: #4C4C4C;
    background-image: url("../images/bg_button.gif");
    color: #000000;
	font-weight: bold;
	vertical-align: middle;
	padding-bottom: 1px;
    padding-top: 1px;
    width: auto !important;
}

input.button1:hover {
	border-color: #CFCFCF;
    color: #CFCFCF;
}

div.registers_wrapper div.content {
     font-family: "Lucida Grande","Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    font-size: 9pt;
    line-height: 14pt;
    margin-bottom: 1em;
  
	overflow:scroll;
	height:300px;
}

div.registers_wrapper div.content h2 {
	border-bottom: 1px solid #CECECE;
    color: #CECECE;
	font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

div.tournaments_wrapper { 
	color: #CCCCCC;
    float: left;
    margin-right: 0;
    padding-top: 10px;
    width: 630px;
	font
}


.img_post { float: left; position: relative; } 
.logo_post { position: absolute; top: 0; right: 0; padding: 10px; 10px 0 0; } 

div.tournaments_wrapper div.post {
	
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #444444;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding: 5px;
}

div.tournaments_wrapper div.post p.postinfo {
    color: #AAAAAA;
    font-size: 8pt;
    font-style: italic;
    margin-bottom: 3px;
    margin-top: 0;
    overflow: hidden;
}



div.tournaments_wrapper div.post img.postthumbnail {
    border: 1px solid #555555;
    border-radius: 2px 2px 2px 2px;
    float: left;
    padding: 2px;
}

div.tournaments_wrapper div.post div.postlayout {
	text-align:left;
    min-height: 150px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;
}

div.tournaments_wrapper div.post div.postlayout h2 a {
    color: #FF8A00;
	text-shadow: 0 1px 0 #666666;
	font-size: 16px;
}



div.tournaments_wrapper div.post div.postoption {
    bottom: -2px;
    float: right;
    font-size: 11pt;
    overflow: hidden;
    position: absolute;
    right: 0;
}

div.tournaments_wrapper div.post div.postoption p {
    float: left;
    margin: 0 0 0 10px;
}



div.tournaments_wrapper div.post p.postinfo a {
    color: #FFFFFF;
    font-size: 8pt;
    font-style: italic;
}

div.tournaments_wrapper div.post div.postintro {
	width:280px;
    color: #CCCCCC;
    font-size: 9pt;
    line-height: 16pt;
    margin-bottom: 30px;
	float:left;
	
} 

div.tournaments_wrapper div.post div.postteam {
	width:80px;
    color: #CCCCCC;
    font-size: 9pt;
    line-height: 16pt;
	margin-bottom: 30px;
    padding-left: 10px;
    overflow: hidden;
} 

div.tournaments_wrapper div.post div.postteam p.numteam {
	width:50px;
	height:50px;
	color: #CCCCCC;
	font-size: 14pt;
	border: 1px solid #46b3d3;
	background: #56c2e1;
	margin: 0 30px 0 0;
}

div.tournaments_wrapper div.post p.postbuttom {
	width:380px;
	height:25px;
    color: #CCCCCC;
    font-size: 9pt;
    overflow: hidden;
}

div.tournaments_wrapper div.post p.postbuttom a {
	color: #FFFFFF;
}

div.tournaments_wrapper div.post p.postbuttom span.button {
	
	padding: 11px 25px;

	font-family: "MS Sans Serif", serif;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.clear{clear:both;}

.teamlist-main{width:600px; float:left; overflow:hidden;}
.teamlist-thumb {padding-top:10px; overflow: hidden;}
.teamlist-thumb li {float:left; display:inline; width:108px; height:130px; padding:0; margin:0;}
.teamlist-cover { width:98px; height:87px; display:block; margin:0 0 0 8px; }
.teamlist-cover img {width:85px; height:85px; margin:1px 0 0 8px;}
.teamlist-thumb span { 
	width:108px;
	margin:0 0 0 8px;
	text-align: center;
	font-size:14px;
	color: #FF8A00;
	font-weight: bold; 
}
.teamlist-thumb span a {
	color: #FF8A00;
	font-weight: bold; 
}

.teamdetail-main{width:400px; height:300px; float:left; overflow:hidden;}
.teamdetail-list {padding-top:3px; overflow: hidden;}
.teamdetail-list li {float:left; display:inline; width:400px;  padding:0; margin:0; text-align:left; font-size:14px; padding-bottom:5px;}
.teamdetail-list span.head {font-weight:bold;font-size:24px;color:#fff; margin-bottom:10px;}
.teamdetail-list span.leader {font-weight:bold;font-size:14px;color:#fff; }
.teamdetail-list span.memberlist { height:100px;}

#members-menu { margin:10px 0;float:left;overflow:hidden;font-size:12px;color:#fff;  }
#members-menu ul { margin:0; list-style:none; padding:0}
#members-menu li{  line-height:22px; height:23px; width:578px;  }
#members-menu li .team-main-head{ width:225px; float:left; text-align:center; background-color:#555555; border:1px solid #000000;color:#FFF;}
#members-menu li .team-enemy-head { width:225px; float:left; text-align:center; background-color:#555555;  border:1px solid #000000;color:#FFF;}
#members-menu li .team-win-head { width:60px; float:left; text-align:center; background-color:#555555;  border:1px solid #000000;color:#FFF; }
#members-menu li .team-lost-head { width:60px; float:left; text-align:center; background-color:#555555;  border:1px solid #000000;color:#FFF;}


#members-menu li .team-main { width:225px; float:left; text-align:center;  border:1px solid #000000;}
#members-menu li .team-enemy { width:225px; float:left; text-align:center;  border:1px solid #000000; }
#members-menu li .team-win{ width:60px; float:left; text-align:center;  border:1px solid #000000;}
#members-menu li .team-lost { width:60px;float:left; text-align:center;  border:1px solid #000000;}
.smallInput { padding:3px 3px; border:1px solid #999; background:#FFFFE6; font-size:12px !important; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif !important; color: #333 !important; font-style:italic; }

#overlay {
	background: #000;
	opacity: 0.7;
	filter:alpha(opacity=70);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 499;
	width: 100%;
}

#login {
	padding-top: 50px;
}

#wrap-pop {
	width: 350px;
	height: 250px;
	text-align: center;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -175px;
	z-index: 500;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/* Tournament */
h1.header {
	margin: 20px 5px;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	font-size: 24px;
	letter-spacing: 2px;
	
	color: #FF8A00;
	text-shadow: 0 1px 0 #666666;
}
div.jQBracket {
	float: none !important;
}
#tournamentContainer {
	width:900px;
	background-color: #222222;
	border: 1px solid #FF8A00;
	overflow: auto;
	margin: 15px;
}
#tournamentRoundHeader ul {
	padding: 8px 0 5px 12px;
	float: left;
	position: relative;
	list-style: none;
}
#tournamentRoundHeader li {
	display: table-cell;
	float: none;
	width: 110px;
	text-align: center;
}

#tournamentRoundHeader li.nextRound {
	padding-left: 30px;
}

.scheduleRound {
	color: #F87431;
	font-weight: bold;
}
.scheduleDate {
	color: #FFC300;
}
div.jQBracket {
	float: none !important;
}
ol.number {
	list-style:decimal;
	margin-left:40px;
}
h2.tour_rule_h2 {
	display: block;
	vertical-align: top;
	font-size: medium;
	font-weight: bold;
	letter-spacing: 4px;
	margin-top: 0px;
	padding: 3px 0 3px 30px;
	margin: 25px 0px 5px 0px;
	background: #382D2C;
	color: #FFFFFF;
	text-align: center;
}
div.buttonLeftSide {
	border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    background: #382D2C;
    font-size: medium;
	font-weight: bold;
	padding: 18px 5px 0px 5px;
	color: #FFFFFF;
	text-align: center;
	width: 150px;
	height: 40px;
	margin-bottom: 20px;
	border:2px solid gray;
}
div.buttonLeftSideSelect {
	border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    background: #436EEE;
    font-size: medium;
	font-weight: bold;
	padding: 18px 5px 0px 5px;
	color: #FFFFFF;
	text-align: center;
	width: 150px;
	height: 40px;
	margin-bottom: 20px;
	border:2px solid gray;
}
a:hover div.buttonLeftSide {
    background: #436EEE;
	color: #FFFFFF;
	text-decoration: none;
}


