body {
	margin:0 auto;
	background-color: #000000;
	background-repeat:no-repeat;
	background-image:url(../images/background.jpg);
	background-position:center;
	background-position:top;
	background-attachment:fixed;
	height:100%; overflow-y:auto;
	color: #999999;
    font-family: "MS Sans Serif",Tahoma,verdana;
    
}
.col-lg-4 {
   /*width: 33.33333333333333%;*/
   width: 25%;
   float: left;
   text-align: center;
   margin-bottom: 20px;
}
.WrapBoardFPS {
	/*margin: 0 auto;
    position: relative;
    width: 940px;
	float:left;*/
	position: relative;
    margin: 70px auto;
    width: 940px;
}

#adverLeft1 {
    height: 900px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 170px;
}

#adverLeft1 a {
    display: block;
    height: 900px;
    width: 170px;
}

#adverRight1 {
    height: 900px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 170px;
}

#adverRight1 a {
    display: block;
    height: 900px;
    width: 170px;
}

#wrapBoardInside {
    /*left:40%;*/
    position: absolute;
    top: 150px;
    width: 940px;
}

.top-left, .top-right, .bottom-left, .bottom-right {
	background-image: url("../images/rounded.gif");
	height: 20px;       /* CHANGE: replace by the height of one of your corners (= 1/2 height of the image) */
	font-size: 2px;    /* DNC: correction IE for height of the <div>'s */
}
.top-left, .bottom-left {
	margin-right: 20px; /* CHANGE: replace by the width of one of your corners */
}
.top-right, .bottom-right {
	margin-left: 20px;  /* CHANGE: replace by the width of one of your corners */
	margin-top: -20px;  /* CHANGE: replace by the height of one of your corners */
}
.top-right {
	background-position: 100% 0;    /* DNC: position right corner at right side, no vertical changes */
}
.bottom-left  {
	background-position: 0 -20px;    /* CHANGE: replace second number by negative height of one of your corners */
}
.bottom-right {
	background-position: 100% -20px; /* CHANGE: replace second number by negative height of one of your corners */
}
.inside {
	border-left: 1px solid #161616; /* YCC: color & properties of the left-borderline */
	border-right: 1px solid #161616;/* YCC: color & properties of the right-borderline */
	background: #1a1a1a;            /* YCC: background-color of the inside */
	color: #c2c2c2;                 /* YCC: default text-color of the inside */
	padding-left: 0px;             /* YCC: all texts at some distance of the left border */
	padding-right: 0px;
	padding-top: 2px;             /* YCC: all texts at some distance of the right border */
}
.notopgap    { margin-top: 0; }    /* DNC: to avoid splitting of the box */
.nobottomgap { margin-bottom: 0; } /* DNC: to avoid splitting of the box */
#wrap {
    min-width: 650px;
    padding: 0 20px;
    width: 900px;
}
.outside {
	margin: 0 auto;
	width : 940px;
	padding: 10px;
}

.navibar {
	background-color: #22262A;
	padding: 0 10px;
	margin-top:10px;
	
}

.navibar label {
    font-size: 1.0em;
    line-height: 2.2em;
    list-style-type: none;
}

.navibar1 {
	background-color: #22262a;
	height: 24px;
}

* html .clearfix, * html .navibar, ul.linklist {
    height: 4%;
    overflow: hidden;
}

ul.navlinks {
	border-bottom-color: #34383c;
}

ul.navlinks {
	padding-bottom: 1px;
	margin-bottom: 1px;
	border-bottom: 1px solid #7a7a7a;
	font-weight: bold;
}

.home-header-icon {
    background-image: url("../images/icon_home.gif");
	background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 1px 0 0 17px;
}

.faq-header-icon {
    background-image: url("../images/icon_faq.gif");
	background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 1px 0 0 17px;
}

.forabg {
	background: #22262A none repeat-x 0 0;
	margin-bottom: 4px;
	padding: 0 5px;
	clear: both;
	margin-top:10px;
}

ul.topiclist {
    display: block;
    list-style-type: none;
    margin: 0;
}

ul.topiclist li {
    color: #7E7E7E;
}


li.header dt, li.header dd {
    border-left-width: 0;
    color: #9E9E9E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin: 2px 0 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-transform: uppercase;
}

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

span.corners-top {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}

span.corners-top span {
	background-image: none;
	background-position: 100% 0;
}

span.corners-bottom {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}
span.corners-bottom2 {
	background-image: none;
	background-position: 0 100%;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

span.corners-bottom span {
	background-image: none;
	background-position: 100% 100%;
}

.headbg span.corners-bottom {
	margin-bottom: -1px;
}

.post span.corners-top, .post span.corners-bottom, .panel span.corners-top, .panel span.corners-bottom, .navibar span.corners-top, .navibar span.corners-bottom {
	margin: 0 -10px;
}

.rules span.corners-top {
	margin: 0 -10px 5px -10px;
}

.rules span.corners-bottom {
	margin: 5px -10px 0 -10px;
}

/* Horizontal lists
----------------------------------------*/
ul.linklist {
	display: block;
	margin: 0;
}

ul.linklist li {
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	margin-right: 5px;
	font-size: 1.1em;
	line-height: 2.2em;
}

ul.linklist li.rightside, p.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

ul.navlinks {
	padding-bottom: 1px;
	margin-bottom: 1px;
	border-bottom: 1px solid #7a7a7a;
	font-weight: bold;
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right;
}

span.corners-top {
	background-image: url("../images/corners_left.png");
}

span.corners-top span {
	background-image: url("../images/corners_right.png");
}

span.corners-bottom {
	background-image: url("../images/corners_left.png");
}

span.corners-bottom span {
	background-image: url("../images/corners_right.png");
}

#overlay {
	background: #000;
	opacity: 0.7;
	filter:alpha(opacity=70);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 499;
	width: 100%;
}

#login {
	padding-top: 50px;
}

#login .loading-box {
	margin-top:30px;
}

#login .loading-box p{
	font-size:18px;
	margin-top:10px;
}


#wrap-pop {
	width: 350px;
	height: 250px;
	text-align: center;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -175px;
	z-index: 1000;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
 
#wrap-score {
	width: 350px;
	height: 250px;
	text-align: center;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -175px;
	z-index: 1000;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#post-score .loading-box {
	margin-top:30px;
}
#post-score .loading-box p{
	font-size:16px;
	margin-top:10px;
	color:black;
}
  
 
#header{ line-height:60px; margin:0 auto; width:940px; text-align:center; } 
#content-container {width:940px; margin:0 auto;  } 

#main-container{width:940px; float:left;}

.sidebar {margin:10px 0 0 20px; width:200px;}
.header-box { padding-left:10px; color:#EFCB54;font-size: 13px;font-weight: bold; }

#login-box { border:1px solid #666; height:180px;width: 196px; background: url("../images/fps-bgtable3.jpg") no-repeat scroll 0 0 transparent; color:#999999; padding:3px 0 0 0; margin-bottom:10px;  }
#login-box span { padding-left:10px;}
#login-box fieldset { margin:10px 0 0 10px; }
#login-box label { font-size: 10px;font-weight: normal;line-height: 12px; }

#login-box .input-login {font-size: 10px;height: 10px; }
#login-box a { clear:both;	 }
.clear {
	clear:left;
}

.content { width:690px;  float: left; margin:10px 0 0 10px; background-color: #22262A; text-align:center; }
.hilight { margin-top:30px;}

.center {
	 float: none;
     margin-left: auto;
     margin-right: auto;
	 text-align:left;
}

#user-profile-box { border:1px solid #666; height:270px;width: 196px; background: url("../images/fps-bgtable3.jpg") no-repeat scroll 0 0 transparent; color:#999999; padding:3px 0 0 0;  margin-bottom:10px;}
#user-profile-box .media { margin:10px 0 0 10px; }
#user-profile-box p { margin:0 auto;} 
#user-profile-box label { font-size: 10px;font-weight: normal;line-height: 12px; }

#team-rankings-box { border:1px solid #666; height:250px;width: 196px; background: url("../images/fps-bgtable3.jpg") no-repeat scroll 0 0 transparent; color:#999999; padding:3px 0 0 0;  margin-bottom:10px;}
#team-rankings-box .ranking-list { margin:0 auto;font-size: 12px;font-weight: normal;line-height: 14px; padding-top:10px;}

#tour-news-box { border:1px solid #666; height:250px;width: 196px; background: url("../images/fps-bgtable3.jpg") no-repeat scroll 0 0 transparent; color:#999999; padding:3px 0 0 0;  margin-bottom:10px;}
#tour-news-box .news-list { margin:0 0 0 8px; font-size: 10px;font-weight: normal;line-height: 14px; padding-top:10px;}

#hot-tour-box { border:1px solid #666; height:350px;width: 196px; background: url("../images/fps-bgtable3.jpg") no-repeat scroll 0 0 transparent; color:#999999; padding:3px 0 0 0;  margin-bottom:10px;}
#hot-tour-box  .tour-list { margin:0 auto;font-size: 10px;font-weight: normal;line-height: 10px; padding-top:10px;}

div.tournaments_wrapper { 
	color: #CCCCCC;

    padding-top: 10px;
    width: 630px;
}

div.match_wrapper { 
	color: #CCCCCC;
    padding-top: 10px;
    width: 690px;
    float:left;
}
div.match_wrapper div.versus { 
	width:30px;
	color:#ffffff;
	font-size:24px;
	float:left;
    display:block;
    padding:200px 5px 0 0;
   
}

div.match_wrapper div.versus h1 {
	font-weight: bold;
	line-height: 24px;
	font-size: 32px;
	letter-spacing: 2px;
	color: #FF8A00;
	text-shadow: 0 1px 0 #666666;
} 

div.match_wrapper  div.post  {
	width:295px;
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #444444;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    float:left;
    display:block;
    
}

div.match_wrapper  div.post_comment  {
	width:650px;
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #444444;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    float:left;
    display:block;
    
}

div.match_wrapper  div.post_comment  div.comment  {
	
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #444444;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding: 5px;
}

div.match_wrapper  div.post_comment div.comment p.postinfo {
    color: #AAAAAA;
    font-size: 8pt;
    font-style: italic;
    margin-bottom: 3px;
    margin-top: 0;
    overflow: hidden;
}



div.match_wrapper  div.post_comment  div.comment img.postthumbnail {
    border: 1px solid #555555;
    border-radius: 2px 2px 2px 2px;
    float: left;
    padding: 2px;
}

div.match_wrapper  div.post_comment div.comment div.postlayout {
	text-align:left;
    min-height: 80px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;
}

div.match_wrapper  div.post_comment  div.comment div.postteam {
	width:500px;
	
    color: #CCCCCC;
    font-size: 9pt;
    line-height: 16pt;
	text-align:left;
	padding-top:10px;
	border-top: 1px solid #555555;
	
 	
} 

div.match_wrapper  div.post_comment h3 {
	font-weight: bold;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: left;
}



div.match_wrapper div.post img.postthumbnail {
    border: 1px solid #555555;
    border-radius: 2px 2px 2px 2px;
    float: left;
    padding: 2px;
}
.teamdetail-main{width:200px;  float:left; overflow:hidden; margin-top:10px;}
.teamdetail-list {padding-top:3px; overflow: hidden;}
.teamdetail-list li {float:left; display:inline; width:200px;  padding:0; margin:0; text-align:left; font-size:14px; padding-bottom:5px;}
.teamdetail-list span.head {font-weight:bold;font-size:24px;color:#fff; margin-bottom:10px;}
.teamdetail-list span.leader {font-weight:bold;font-size:14px;color:#fff; }
.teamdetail-list span.memberlist { height:100px;}

div.match_wrapper h2.header {
	font-weight: bold;
	line-height: 24px;
	font-size: 22px;
	letter-spacing: 2px;
	
	color: #FF8A00;
	text-shadow: 0 1px 0 #666666;
}

div.match_wrapper h3 {
	font-weight: bold;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 2px;
	text-shadow: 0 1px 0 #666666;
}

div.match_wrapper div.winner {
	width:650px;
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #444444;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    float:left;
    display:block;
    
}



.img_post { float: left; position: relative; } 
.logo_post { position: absolute; top: 0; right: 0; padding: 10px; 10px 0 0; } 
h1.header {
	font-weight: bold;
	line-height: 24px;
	font-size: 24px;
	letter-spacing: 2px;
	
	color: #FF8A00;
	text-shadow: 0 1px 0 #666666;
}
div.tournaments_wrapper div.post  {
	
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #444444;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    padding: 5px;
}

div.tournaments_wrapper div.post p.postinfo {
    color: #AAAAAA;
    font-size: 8pt;
    font-style: italic;
    margin-bottom: 3px;
    margin-top: 0;
    overflow: hidden;
}



div.tournaments_wrapper div.post img.postthumbnail {
    border: 1px solid #555555;
    border-radius: 2px 2px 2px 2px;
    float: left;
    padding: 2px;
}

div.tournaments_wrapper div.post div.postlayout {
	text-align:left;
    min-height: 150px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;
}

div.tournaments_wrapper div.post div.postlayout h2 a {
    color: #FF8A00;
	text-shadow: 0 1px 0 #666666;
	font-size: 16px;
}



div.tournaments_wrapper div.post div.postoption {
    bottom: -2px;
    float: right;
    font-size: 11pt;
    overflow: hidden;
    position: absolute;
    right: 0;
}

div.tournaments_wrapper div.post div.postoption p {
    float: left;
    margin: 0 0 0 10px;
}



div.tournaments_wrapper div.post p.postinfo a {
    color: #FFFFFF;
    font-size: 8pt;
    font-style: italic;
}

div.tournaments_wrapper div.post div.postintro {
	width:270px;
	height:140px;
    color: #CCCCCC;
    font-size: 9pt;
    line-height: 16pt;
    
	float:left;
	
} 

div.tournaments_wrapper div.post div.postteam {
	width:90px;
	height:100px;
    color: #CCCCCC;
    font-size: 9pt;
    line-height: 16pt;
	height:140px;
    overflow: hidden;
	text-align:center;
	
 	
} 

#members-menu { margin:10px 0;float:left;overflow:hidden;font-size:12px;color:#fff;  }
#members-menu ul { margin:0; list-style:none; padding:0}
#members-menu li{  line-height:22px; height:23px; width:578px;  }
#members-menu li .team-main-head{ width:225px; float:left; text-align:center; background-color:#555555; border:1px solid #000000;color:#FFF;}
#members-menu li .team-enemy-head { width:225px; float:left; text-align:center; background-color:#555555;  border:1px solid #000000;color:#FFF;}
#members-menu li .team-win-head { width:60px; float:left; text-align:center; background-color:#555555;  border:1px solid #000000;color:#FFF; }
#members-menu li .team-lost-head { width:60px; float:left; text-align:center; background-color:#555555;  border:1px solid #000000;color:#FFF;}

#members-menu li .team-main { width:225px; float:left; text-align:center;  border:1px solid #000000;}
#members-menu li .team-enemy { width:225px; float:left; text-align:center;  border:1px solid #000000; }
#members-menu li .team-win{ width:60px; float:left; text-align:center;  border:1px solid #000000;}
#members-menu li .team-lost { width:60px;float:left; text-align:center;  border:1px solid #000000;}

.plan-name-bronze {
  padding: 10px;
  color: #fff;
  background-color: #C0C0C0;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  text-align:center;
  margin-bottom:10px;
 }
 .plan-feature {
  padding: 0 0 5px 0;
  border-bottom: 1px solid #666666;
}
 

div.tournaments_wrapper div.post div.postteam p.numteam {
	width:50px;
	height:50px;
	color: #CCCCCC;
	font-size: 14pt;
	border: 1px solid #46b3d3;
	background: #56c2e1;
	margin: 0 30px 0 0;
}

div.tournaments_wrapper div.post p.postbuttom {
	width:380px;
	height:25px;
    color: #CCCCCC;
    font-size: 9pt;
    overflow: hidden;
}

div.tournaments_wrapper div.post p.postbuttom a {
	color: #FFFFFF;
}

div.tournaments_wrapper div.post p.postbuttom span.button {
	
	padding: 11px 25px;

	font-family: "MS Sans Serif", serif;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}



/* Tournament */
h1.header {
	margin: 20px 5px;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	font-size: 24px;
	letter-spacing: 2px;
	
	color: #FF8A00;
	text-shadow: 0 1px 0 #666666;
}
div.jQBracket {
	float: none !important;
}

#tournamentContainer {
	width:900px;
	background-color: #444444;
	border: 1px solid #FF8A00;
	margin: 0 auto;
	overflow:scroll;
}
#tournamentRoundHeader ul {
	width:1200px;
	max-width:1200px;
	padding-top: 8px;
	float: left;
	position: relative;
	list-style: none;
}
#tournamentRoundHeader li {
	float: left;
	width: 250px;
	text-align: center;
}

#challonge_tournaments {
	width:100%;
	float:left;
}


.scheduleRound {
	color: #F87431;
	font-weight: bold;
}
.scheduleDate {
	color: #FFC300;
}
div.jQBracket {
	float: none !important;
}
ol.number {
	list-style:decimal;
	margin-left:40px;
}
h2.tour_rule_h2 {
	display: block;
	vertical-align: top;
	font-size: medium;
	font-weight: bold;
	letter-spacing: 4px;
	margin-top: 0px;
	padding: 3px 0 3px 30px;
	margin: 25px 0px 5px 0px;
	background: #382D2C;
	color: #FFFFFF;
	text-align: center;
}
div.buttonLeftSide {
	border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    background: #382D2C;
    font-size: medium;
	font-weight: bold;
	padding: 18px 5px 0px 5px;
	color: #FFFFFF;
	text-align: center;
	width: 150px;
	height: 40px;
	margin-bottom: 20px;
	border:2px solid gray;
}
div.buttonLeftSideSelect {
	border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    background: #436EEE;
    font-size: medium;
	font-weight: bold;
	padding: 18px 5px 0px 5px;
	color: #FFFFFF;
	text-align: center;
	width: 150px;
	height: 40px;
	margin-bottom: 20px;
	border:2px solid gray;
}
a:hover div.buttonLeftSide {
    background: #436EEE;
	color: #FFFFFF;
	text-decoration: none;
}



/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
  border-top: 1px solid gray;
 
}
.footer p {
  margin-bottom: 0;
  color: #CCCCCC;
	font-size: 9px;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
