
h2.solo {
    margin-bottom: 1em;
}

img {
    border-width: 0;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #313131 #7A7A7A #7A7A7A;
    border-image: none;
    border-right: 0 none #7A7A7A;
    border-style: solid none none;
    border-width: 1px 0 0;
    clear: both;
    display: block;
    height: 1px;
    margin: 5px 0;
}
hr.dashed {
    border-top: 1px dashed #313131;
    margin: 10px 0;
}
hr.divider {
    display: none;
}
p.right {
    text-align: right;
}
#simple-wrap {
    padding: 6px 10px;
}
#page-body {
    clear: both;
    margin: 4px 0;
}
#page-footer {
    clear: both;
}
#page-footer h3 {
    margin-top: 20px;
}
#logo {
    float: left;
    padding: 10px 13px 0 10px;
    width: auto;
}
a#logo:hover {
    text-decoration: none;
}
#search-box {
    color: #7A7A7A;
    display: block;
    float: right;
    margin-right: 5px;
    margin-top: 30px;
    position: relative;
    text-align: right;
    white-space: nowrap;
}
#search-box #keywords {
    background-color: #7A7A7A;
    width: 95px;
}
#search-box input {
    border: 1px solid #B0B0B0;
}
#search-box input.button1 {
    padding: 1px 5px;
}
#search-box li {
    margin-top: 4px;
    text-align: right;
}
#search-box img {
    margin-right: 3px;
    vertical-align: middle;
}
#site-description {
    float: left;
    width: 70%;
}
#site-description h1 {
    margin-right: 0;
}
.headerbar {
    background: none repeat-x scroll 0 0 #EBEBEB;
    color: #7A7A7A;
    margin-bottom: 4px;
    padding: 0 5px;
}
.navbar {
    background-color: #EBEBEB;
    padding: 0 10px;
}
.navbar1 {
    background-color: #22262A;
    height: 24px;
}
.forabg {
    background: none repeat-x scroll 0 0 #B1B1B1;
    clear: both;
    margin-bottom: 4px;
    padding: 0 5px;
}
.forumbg {
    background: none repeat-x scroll 0 0 #EBEBEB;
    clear: both;
    margin-bottom: 4px;
    padding: 0 5px;
}
.panel {
    color: #3F3F3F;
    margin-bottom: 4px;
    padding: 0 10px;
}
.post {
    background-position: 100% 0;
    background-repeat: no-repeat;
    margin-bottom: 4px;
    padding: 0 10px;
}
.post:target .content {
    color: #C2C2C2;
}
.post:target h3 a {
    color: #C2C2C2;
}
.bg1 {
    background-color: #F7F7F7;
}
.bg2 {
    background-color: #F2F2F2;
}
.bg3 {
    background-color: #EBEBEB;
}
.rowbg {
    margin: 5px 5px 2px;
}
.ucprowbg {
    background-color: #E2E2E2;
}
.fieldsbg {
    background-color: #EAEAEA;
}
span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
    background-repeat: no-repeat;
    display: block;
    font-size: 1px;
    height: 5px;
    line-height: 1px;
}
span.corners-top {
    background-image: none;
    background-position: 0 0;
    margin: 0 -5px;
}
span.corners-top span {
    background-image: none;
    background-position: 100% 0;
}
span.corners-bottom {
    background-image: none;
    background-position: 0 100%;
    clear: both;
    margin: 0 -5px;
}
span.corners-bottom2 {
    background-image: none;
    background-position: 0 100%;
    background-repeat: no-repeat;
    clear: both;
    display: block;
    font-size: 1px;
    height: 5px;
    line-height: 1px;
}
span.corners-bottom span {
    background-image: none;
    background-position: 100% 100%;
}
.headbg span.corners-bottom {
    margin-bottom: -1px;
}
.post span.corners-top, .post span.corners-bottom, .panel span.corners-top, .panel span.corners-bottom, .navbar span.corners-top, .navbar span.corners-bottom {
    margin: 0 -10px;
}
.rules span.corners-top {
    margin: 0 -10px 5px;
}
.rules span.corners-bottom {
    margin: 5px -10px 0;
}
ul.linklist {
    display: block;
    margin: 0;
}
ul.linklist li {
    display: block;
    float: left;
    font-size: 1.1em;
    line-height: 2.2em;
    list-style-type: none;
    margin-right: 5px;
    width: auto;
}
ul.linklist li.rightside, p.rightside {
    float: right;
    margin-left: 5px;
    margin-right: 0;
    text-align: right;
}
ul.navlinks {
    border-bottom: 1px solid #7A7A7A;
    font-weight: bold;
    margin-bottom: 1px;
    padding-bottom: 1px;
}
ul.leftside {
    float: left;
    margin-left: 0;
    margin-right: 5px;
    text-align: left;
}
ul.rightside {
    float: right;
    margin-left: 5px;
    margin-right: -5px;
    text-align: right;
}
table.table1 {
}
#ucp-main table.table1 {
    padding: 2px;
}
table.table1 thead th {
    color: #7A7A7A;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.3em;
    padding: 0 0 4px 3px;
    text-transform: uppercase;
}
table.table1 thead th span {
    padding-left: 7px;
}
table.table1 tbody tr {
    border: 1px solid #CFCFCF;
}
table.table1 tbody tr:hover, table.table1 tbody tr.hover {
    background-color: #F6F6F6;
    color: #000000;
}
table.table1 td {
    color: #6A6A6A;
    font-size: 1.1em;
}
table.table1 tbody td {
    border-top: 1px solid #FAFAFA;
    padding: 5px;
}
table.table1 tbody th {
    background-color: #7A7A7A;
    border-bottom: 1px solid #C2C2C2;
    color: #D4D4D4;
    padding: 5px;
    text-align: left;
}
table.table1 .name {
    text-align: left;
}
table.table1 .posts {
    text-align: center !important;
    width: 7%;
}
table.table1 .joined {
    text-align: left;
    width: 15%;
}
table.table1 .active {
    text-align: left;
    width: 15%;
}
table.table1 .mark {
    text-align: center;
    width: 7%;
}
table.table1 .info {
    text-align: left;
    width: 30%;
}
table.table1 .info div {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
table.table1 .autocol {
    line-height: 2em;
    white-space: nowrap;
}
table.table1 thead .autocol {
    padding-left: 1em;
}
table.table1 span.rank-img {
    float: right;
    width: auto;
}
table.info td {
    padding: 3px;
}
table.info tbody th {
    color: #C2C2C2;
    font-weight: normal;
    padding: 3px;
    text-align: right;
    vertical-align: top;
}
.forumbg table.table1 {
    margin: 0 -2px -1px -1px;
}
.column1 {
    clear: left;
    float: left;
    width: 49%;
}
.column2 {
    clear: right;
    float: right;
    width: 49%;
}
.left-box {
    float: left;
    text-align: left;
    width: auto;
}
.right-box {
    float: right;
    text-align: right;
    width: auto;
}
dl.details {
    font-size: 1.1em;
}
dl.details dt {
    clear: left;
    color: #C2C2C2;
    display: block;
    float: left;
    text-align: right;
    width: 30%;
}
dl.details dd {
    color: #828282;
    float: left;
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 5px;
    width: 65%;
}
.pagination {
    float: right;
    height: 1%;
    margin-top: 5px;
    text-align: right;
    width: auto;
}
.pagination span.page-sep {
    display: none;
}
li.pagination {
    margin-top: 0;
}
.pagination strong, .pagination b {
    font-weight: normal;
}
.pagination span strong {
    background-color: #BFBFBF;
    border: 1px solid #BFBFBF;
    color: #7A7A7A;
    font-size: 0.9em;
    font-weight: normal;
    margin: 0 2px;
    padding: 0 2px;
}
.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
    background-color: #EEEEEE;
    border: 1px solid #BABABA;
    color: #747474;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0 2px;
    padding: 0 2px;
    text-decoration: none;
}
.pagination span a:hover {
    background-color: #D2D2D2;
    border-color: #D2D2D2;
    color: #7A7A7A;
    text-decoration: none;
}
.pagination img {
    vertical-align: middle;
}
.row .pagination {
    background: none no-repeat scroll 0 50% transparent;
    display: block;
    float: right;
    font-size: 0.9em;
    margin-top: 0;
    padding: 1px 0 1px 15px;
    width: auto;
}
.row .pagination span a, li.pagination span a {
    background-color: #7A7A7A;
}
.row .pagination span a:hover, li.pagination span a:hover {
    background-color: #D2D2D2;
}
#forum-permissions {
    float: right;
    margin-left: 5px;
    margin-top: 10px;
    padding-left: 5px;
    text-align: right;
    width: auto;
}
.copyright {
    color: #555555;
    padding: 5px;
    text-align: center;
}
.small {
    font-size: 0.9em !important;
}
.titlespace {
    margin-bottom: 15px;
}
.headerspace {
    margin-top: 20px;
}
.error {
    color: #BCBCBC;
    font-size: 1em;
    font-weight: bold;
}
.reported {
    background-color: #F7F7F7;
}
li.reported:hover {
    background-color: #ECECEC;
}
div.rules {
    background-color: #ECECEC;
    color: #BCBCBC;
    font-size: 1.1em;
    margin: 10px 0;
    padding: 0 10px;
}
div.rules ul {
    margin-left: 20px;
}
p.rules {
    background-color: #ECECEC;
    background-image: none;
    padding: 5px;
}
p.rules img {
    vertical-align: middle;
}
p.rules a {
    clear: both;
    vertical-align: middle;
}
#top {
    position: absolute;
    top: -20px;
}
.clear {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 1px;
}
.main {
    background: none repeat scroll 0 0 #181C1F;
    margin: 0 auto;
    vertical-align: top;
    width: 900px;
}
.west {
    background: none repeat scroll 0 0 #181C1F;
    margin: 0;
    vertical-align: top;
    width: 620px;
}
.east {
    background: none repeat scroll 0 0 #181C1F;
    margin: 0;
    vertical-align: top;
    width: 280px;
}
.cathead {
    background: url("./styles/eMuza/theme/images/h1.gif") repeat scroll 0 0 #1E2126;
    border: 0 solid #1D2225;
    height: 22px;
    padding: 6px 0 0 10px;
    width: 480px;
}
.forhead {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("./styles/eMuza/theme/images/h2.gif") repeat scroll 0 0 #075C79;
    border-color: #07546D;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px;
    height: 48px;
    width: 490px;
}
.tabhead {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("./styles/eMuza/theme/images/h4.gif") repeat scroll 0 0 #21252A;
    border-color: #2D3337;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
    height: 19px;
    margin: 14px 14px 0;
    padding: 4px 0 0 8px;
    width: 242px;
}
.dt {
    color: #C9C9C9;
    font-size: 12px;
    font-weight: bold;
}
a.dt {
    color: #C9C9C9;
    text-decoration: none;
}
a.dt:visited {
    color: #C9C9C9;
    text-decoration: none;
}
a.dt:hover {
    color: #EBC925;
    text-decoration: none;
}
.dn {
    color: #C6C6C6;
    font-size: 11px;
}
a.dn {
    color: #C6C6C6;
    text-decoration: none;
}
a.dn:visited {
    color: #C6C6C6;
    text-decoration: none;
}
a.dn:hover {
    color: #B2B2B2;
    text-decoration: none;
}
.tabcell {
    background-color: #202328;
    line-height: 19px;
    margin: 0 14px;
    padding: 5px 8px 8px;
    width: 234px;
}
form {
    margin: 0;
}
form {
    display: inline;
}
input, textarea, select {
    border: 1px solid #292929;
    color: #DEDEDE;
    font: 11px Verdana,Arial,Helvetica,sans-serif;
}
input.post, textarea.post, select {
    background-color: #202020;
    border: 1px solid #292929;
}
input.post2, textarea.post2, select {
    background-color: #202020;
    border: 1px solid #292929;
}
input {
    border: 1px solid #292929;
    text-indent: 2px;
}
input.button {
    background-color: #202020;
    border: 1px solid #292929;
    color: #DEDEDE;
    cursor: pointer;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
}
input.mainoption {
    background-color: #202020;
    border: 1px solid #292929;
    cursor: pointer;
    font-weight: bold;
}
input.liteoption {
    background-color: #202020;
    cursor: pointer;
    font-weight: normal;
}
a:link {
    color: #898989;
    text-decoration: none;
}
a:visited {
    color: #898989;
    text-decoration: none;
}
a:hover {
    color: #D3D3D3;
    text-decoration: underline;
}
a:active {
    color: #D2D2D2;
    text-decoration: none;
}
.username-coloured {
    display: inline !important;
    font-weight: bold;
}
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
    color: #FFFFFF;
    text-decoration: none;
}
#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
    color: #FFFFFF;
    text-decoration: none;
}
a.forumtitle {
    color: #898989;
    font-family: "Trebuchet MS",Helvetica,Arial,Sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
a.forumtitle:hover {
    color: #BCBCBC;
    text-decoration: underline;
}
a.forumtitle:active {
    color: #898989;
}
a.topictitle {
    color: #898989;
    font-family: "Trebuchet MS",Helvetica,Arial,Sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
a.topictitle:hover {
    color: #BCBCBC;
    text-decoration: underline;
}
a.topictitle:active {
    color: #898989;
}
.postlink {
    border-bottom: 1px solid #D2D2D2;
    color: #D2D2D2;
    padding-bottom: 0;
    text-decoration: none;
}
.postlink:visited {
    border-bottom-color: #666666;
    border-bottom-style: dotted;
    color: #BDBDBD;
}
.postlink:active {
    color: #D2D2D2;
}
.postlink:hover {
    background-color: #F6F6F6;
    color: #404040;
    text-decoration: none;
}
.signature a, .signature a:visited, .signature a:active, .signature a:hover {
    background-color: transparent;
    border: medium none;
    text-decoration: underline;
}
.postprofile a:link, .postprofile a:active, .postprofile a:visited, .postprofile dt.author a {
    color: #898989;
    font-weight: bold;
    text-decoration: none;
}
.postprofile a:hover, .postprofile dt.author a:hover {
    color: #D3D3D3;
    text-decoration: underline;
}
.search .postprofile a {
    color: #898989;
    font-weight: normal;
    text-decoration: none;
}
.search .postprofile a:hover {
    color: #D3D3D3;
    text-decoration: underline;
}
.back2top {
    clear: both;
    height: 11px;
    text-align: right;
}
a.top {
    background: none no-repeat scroll left top transparent;
    display: block;
    float: right;
    height: 11px;
    letter-spacing: 1000px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 11px;
    width: 11px;
}
a.top2 {
    background: none no-repeat scroll 0 50% transparent;
    padding-left: 15px;
    text-decoration: none;
}
a.up {
    background: none no-repeat scroll left center transparent;
}
a.down {
    background: none no-repeat scroll right center transparent;
}
a.left {
    background: none no-repeat scroll 3px 60% transparent;
}
a.right {
    background: none no-repeat scroll 95% 60% transparent;
}
a.up, a.up:link, a.up:active, a.up:visited {
    border-bottom-width: 0;
    padding-left: 10px;
    text-decoration: none;
}
a.up:hover {
    background-color: transparent;
    background-position: left top;
}
a.down, a.down:link, a.down:active, a.down:visited {
    padding-right: 10px;
}
a.down:hover {
    background-position: right bottom;
    text-decoration: none;
}
a.left, a.left:active, a.left:visited {
    padding-left: 12px;
}
a.left:hover {
    background-position: 0 60%;
    color: #D2D2D2;
    text-decoration: none;
}
a.right, a.right:active, a.right:visited {
    padding-right: 12px;
}
a.right:hover {
    background-position: 100% 60%;
    color: #D2D2D2;
    text-decoration: none;
}
ul.topiclist {
    display: block;
    list-style-type: none;
    margin: 0;
}
ul.forums {
    background: none repeat-x scroll 0 0 #F9F9F9;
}
ul.topiclist li {
    color: #777777;
    display: block;
    list-style-type: none;
    margin: 0;
}
ul.topiclist dl {
    position: relative;
}
ul.topiclist li.row dl {
    padding: 2px 0;
}
ul.topiclist dt {
    display: block;
    float: left;
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}
ul.topiclist dd {
    border-left: 1px solid #1A1A1A;
    display: block;
    float: left;
    padding: 4px 0;
}
ul.topiclist dfn {
    display: none;
}
ul.topiclist li.row dt a.subforum {
    background-image: none;
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 0 0 0 12px;
    position: relative;
    white-space: nowrap;
}
.forum-image {
    float: left;
    margin-right: 5px;
    padding-top: 5px;
}
li.row {
    border-bottom: 1px solid #8F8F8F;
    border-top: 1px solid #1A1A1A;
}
li.row strong {
    color: #C2C2C2;
    font-weight: normal;
}
li.row:hover {
    background-color: #F6F6F6;
}
li.row:hover dd {
    border-left-color: #CCCCCC;
}
li.header dt, li.header dd {
    border-left-width: 0;
    color: #1A1A1A;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    line-height: 1em;
    margin: 2px 0 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-transform: uppercase;
}
li.header dt {
    font-weight: bold;
}
li.header dd {
    margin-left: 1px;
}
li.header dl.icon {
    min-height: 0;
}
li.header dl.icon dt {
    padding-left: 0;
    padding-right: 50px;
}
dl.icon {
    background-position: 10px 50%;
    background-repeat: no-repeat;
    min-height: 35px;
}
dl.icon dt {
    background-position: 5px 95%;
    background-repeat: no-repeat;
    padding-left: 45px;
}
dd.posts, dd.topics, dd.views {
    font-size: 1.2em;
    line-height: 2.2em;
    text-align: center;
    width: 8%;
}
dd.lastpost {
    font-size: 1.1em;
    width: 25%;
}
dd.redirect {
    font-size: 1.1em;
    line-height: 2.5em;
}
dd.moderation {
    font-size: 1.1em;
}
dd.lastpost span, ul.topiclist dd.searchby span, ul.topiclist dd.info span, ul.topiclist dd.time span, dd.redirect span, dd.moderation span {
    display: block;
    padding-left: 5px;
}
dd.time {
    font-size: 1.1em;
    line-height: 200%;
    width: auto;
}
dd.extra {
    font-size: 1.1em;
    line-height: 200%;
    text-align: center;
    width: 12%;
}
dd.mark {
    float: right !important;
    font-size: 1.2em;
    line-height: 200%;
    text-align: center;
    width: 9%;
}
dd.info {
    width: 30%;
}
dd.option {
    font-size: 1.1em;
    line-height: 200%;
    text-align: center;
    width: 15%;
}
dd.searchby {
    font-size: 1.1em;
    line-height: 1em;
    width: 47%;
}
ul.topiclist dd.searchextra {
    border-left: medium none;
    clear: both;
    color: #333333;
    font-size: 1.1em;
    margin-left: 5px;
    overflow: hidden;
    padding: 0.2em 0;
    width: 98%;
}
.topic-actions {
    font-size: 1.1em;
    height: 28px;
    margin-bottom: 3px;
    min-height: 28px;
}
div.topic-actions[class] {
    height: auto;
}
.postbody {
    border-left: 1px solid #34383C;
    clear: both;
    color: #333333;
    float: right;
    line-height: 1.48em;
    padding: 0 0 0 10px;
    width: 76%;
}
.postbody .ignore {
    font-size: 1.1em;
}
.postbody h3.first {
    font-size: 1.7em;
}
.postbody h3 {
    border: medium none;
    font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    line-height: 125%;
    margin: 0 0 0.3em !important;
    padding: 2px 0 0;
    text-transform: none;
}
.postbody h3 img {
    vertical-align: bottom;
}
.postbody .content {
    font-size: 1.3em;
}
.search .postbody {
    width: 68%;
}
#review {
    margin-top: 2em;
}
#topicreview {
    height: 300px;
    overflow: auto;
    padding-right: 5px;
}
#topicreview .postbody {
    float: none;
    height: auto;
    margin: 0;
    width: auto;
}
#topicreview .post {
    height: auto;
}
#topicreview h2 {
    border-bottom-width: 0;
}
.content {
    color: #333333;
    font-family: "Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    min-height: 3em;
    overflow: hidden;
}
.content h2, .panel h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #989898;
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}
.panel h3 {
    margin: 0.5em 0;
}
.panel p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 1em;
}
.content p {
    font-family: "Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 1em;
}
dl.faq {
    font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 2em;
    margin-top: 1em;
}
dl.faq dt {
    color: #333333;
    font-weight: bold;
}
.content dl.faq {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.content li {
    list-style-type: inherit;
}
.content ul, .content ol {
    margin-bottom: 1em;
    margin-left: 3em;
}
.posthilit {
    background-color: #F3F3F3;
    color: #BCBCBC;
    padding: 0 2px 1px;
}
.announce, .unreadpost {
    border-left-color: #BCBCBC;
    border-right-color: #BCBCBC;
}
p.author {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    margin: 0 15em 0.6em 0;
    padding: 0 0 5px;
}
.signature {
    border-top: 1px solid #CCCCCC;
    clear: left;
    font-size: 1.1em;
    line-height: 140%;
    margin-top: 1.5em;
    overflow: hidden;
    padding-top: 0.2em;
    width: 100%;
}
dd .signature {
    border: medium none;
    clear: none;
    margin: 0;
    padding: 0;
}
.notice {
    border-top: 1px dashed #CCCCCC;
    clear: left;
    font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 130%;
    margin-top: 1.5em;
    padding-top: 0.2em;
    width: auto;
}
ul.searchresults {
    clear: both;
    list-style: none outside none;
    text-align: right;
}
blockquote {
    background: none no-repeat scroll 6px 8px #EBEBEB;
    border: 1px solid #DBDBDB;
    font-size: 0.95em;
    margin: 0.5em 1px 0 25px;
    overflow: hidden;
    padding: 5px;
}
blockquote blockquote {
    background-color: #BABABA;
    font-size: 1em;
    margin: 0.5em 1px 0 15px;
}
blockquote blockquote blockquote {
    background-color: #E4E4E4;
}
blockquote cite {
    display: block;
    font-size: 0.9em;
    font-style: normal;
    font-weight: bold;
    margin-left: 20px;
}
blockquote cite cite {
    font-size: 1em;
}
blockquote.uncited {
    padding-top: 25px;
}
dl.codebox {
    background-color: #1A1A1A;
    border: 1px solid #D8D8D8;
    font-size: 1em;
    padding: 3px;
}
dl.codebox dt {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
}
blockquote dl.codebox {
    margin-left: 0;
}
dl.codebox code {
    color: #8B8B8B;
    display: block;
    font: 0.9em/1.3em Monaco,"Andale Mono","Courier New",Courier,mono;
    height: auto;
    margin: 2px 0;
    max-height: 200px;
    overflow: auto;
    padding-top: 5px;
    white-space: normal;
}
.syntaxbg {
    color: #1A1A1A;
}
.syntaxcomment {
    color: #C2C2C2;
}
.syntaxdefault {
    color: #BCBCBC;
}
.syntaxhtml {
    color: #C2C2C2;
}
.syntaxkeyword {
    color: #585858;
}
.syntaxstring {
    color: #A7A7A7;
}
.attachbox {
    background-color: #1A1A1A;
    border: 1px dashed #D8D8D8;
    clear: left;
    float: left;
    margin: 5px 5px 5px 0;
    padding: 6px;
    width: auto;
}
.pm-message .attachbox {
    background-color: #F3F3F3;
}
.attachbox dt {
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
.attachbox dd {
    border-top: 1px solid #D8D8D8;
    clear: left;
    margin-top: 4px;
    padding-top: 4px;
}
.attachbox dd dd {
    border: medium none;
}
.attachbox p {
    clear: left;
    color: #666666;
    font-weight: normal;
    line-height: 110%;
}
.attachbox p.stats {
    clear: left;
    color: #666666;
    font-weight: normal;
    line-height: 110%;
}
.attach-image {
    margin: 3px 0;
    max-height: 350px;
    overflow: auto;
    width: 100%;
}
.attach-image img {
    border: 1px solid #999999;
    cursor: default;
}
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file {
    display: block;
    margin-bottom: 4px;
}
div.inline-attachment p {
    font-size: 100%;
}
dl.file {
    display: block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
dl.file dt {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: none;
}
dl.file dd {
    color: #666666;
    margin: 0;
    padding: 0;
}
dl.thumbnail img {
    background-color: #1A1A1A;
    border: 1px solid #666666;
    padding: 3px;
}
dl.thumbnail dd {
    color: #666666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-style: italic;
}
.attachbox dl.thumbnail dd {
    font-size: 100%;
}
dl.thumbnail dt a:hover {
    background-color: #EEEEEE;
}
dl.thumbnail dt a:hover img {
    border: 1px solid #D2D2D2;
}
fieldset.polls {
    font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
}
fieldset.polls dl {
    border-top: 1px solid #E2E2E2;
    color: #666666;
    line-height: 120%;
    margin-top: 5px;
    padding: 5px 0 0;
}
fieldset.polls dl.voted {
    color: #C2C2C2;
    font-weight: bold;
}
fieldset.polls dt {
    border-right: medium none;
    display: block;
    float: left;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 30%;
}
fieldset.polls dd {
    border-left: medium none;
    float: left;
    font-size: 1.1em;
    margin-left: 0;
    padding: 0 5px;
    width: 10%;
}
fieldset.polls dd.resultbar {
    width: 50%;
}
fieldset.polls dd input {
    margin: 2px 0;
}
fieldset.polls dd div {
    color: #1A1A1A;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    min-width: 2%;
    overflow: visible;
    padding: 0 2px;
    text-align: right;
}
.pollbar1 {
    background-color: #AAAAAA;
    border-bottom: 1px solid #747474;
    border-right: 1px solid #747474;
}
.pollbar2 {
    background-color: #BEBEBE;
    border-bottom: 1px solid #8C8C8C;
    border-right: 1px solid #8C8C8C;
}
.pollbar3 {
    background-color: #D1D1D1;
    border-bottom: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
}
.pollbar4 {
    background-color: #E4E4E4;
    border-bottom: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
}
.pollbar5 {
    background-color: #F8F8F8;
    border-bottom: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
}
.postprofile {
    border-left: 1px solid #1A1A1A;
    color: #666666;
    display: inline;
    float: left;
    margin: 5px 0 10px;
    min-height: 80px;
    width: 22%;
}
.pm .postprofile {
    border-left: 1px solid #DDDDDD;
}
.postprofile dd, .postprofile dt {
    line-height: 1.2em;
    margin-left: 8px;
}
.postprofile strong {
    color: #C2C2C2;
    font-weight: normal;
}
.avatar {
    border: medium none;
    margin-bottom: 3px;
}
.online {
    background-image: none;
    background-position: 19% 0;
    background-repeat: no-repeat;
}
.search .postprofile {
    width: 30%;
}
dl.pmlist dt {
    width: 60% !important;
}
dl.pmlist dt textarea {
    width: 95%;
}
dl.pmlist dd {
    margin-bottom: 2px;
    margin-left: 61% !important;
}
.buttons {
    float: left;
    height: auto;
    width: auto;
}
.buttons div {
    background-position: 0 100%;
    float: left;
    margin: 0 5px 0 0;
}
.buttons div a {
    background-position: 0 0;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.buttons div span {
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 100%;
}
.buttons div a:hover span {
    background-position: 0 100%;
}
.reply-icon span {
    background: none no-repeat scroll 0 0 transparent;
}
.post-icon span {
    background: none no-repeat scroll 0 0 transparent;
}
.locked-icon span {
    background: none no-repeat scroll 0 0 transparent;
}
.pmreply-icon span {
    background: none no-repeat scroll 0 0 transparent;
}
.newpm-icon span {
    background: none no-repeat scroll 0 0 transparent;
}
.forwardpm-icon span {
    background: none no-repeat scroll 0 0 transparent;
}
.buttons div.reply-icon {
    height: 25px;
    width: 96px;
}
.buttons div.post-icon {
    height: 25px;
    width: 96px;
}
.buttons div.locked-icon {
    height: 25px;
    width: 88px;
}
.buttons div.pmreply-icon {
    height: 25px;
    width: 96px;
}
.buttons div.newpm-icon {
    height: 25px;
    width: 84px;
}
.buttons div.forwardpm-icon {
    height: 25px;
    width: 96px;
}
a.print, a.sendemail, a.fontsize {
    background-repeat: no-repeat;
    display: block;
    height: 18px;
    overflow: hidden;
    text-align: left;
    text-indent: -5000px;
}
a.print {
    background-image: none;
    width: 22px;
}
a.sendemail {
    background-image: none;
    width: 22px;
}
a.fontsize {
    background-image: none;
    background-position: 0 -1px;
    width: 29px;
}
a.fontsize:hover {
    background-position: 0 -20px;
    text-decoration: none;
}
.sitehome, .icon-faq, .icon-members, .icon-home, .icon-ucp, .icon-register, .icon-logout, .icon-bookmark, .icon-bump, .icon-subscribe, .icon-unsubscribe, .icon-pages, .icon-search {
    background-image: none;
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 1px 0 0 17px;
}
ul.profile-icons {
    list-style: none outside none;
    padding-top: 10px;
}
ul.profile-icons li {
    background-position: 0 100%;
    float: left;
    margin: 0 6px 3px 0;
}
ul.profile-icons li a {
    background-position: 0 0;
    display: block;
    height: 100%;
    width: 100%;
}
ul.profile-icons li span {
    display: none;
}
ul.profile-icons li a:hover {
    background: none repeat scroll 0 0 transparent;
}
.postbody ul.profile-icons {
    float: right;
    padding: 0;
    width: auto;
}
.postbody ul.profile-icons li {
    margin: 0 3px;
}
.email-icon, .email-icon a {
    background: none no-repeat scroll left top transparent;
}
.aim-icon, .aim-icon a {
    background: none no-repeat scroll left top transparent;
}
.yahoo-icon, .yahoo-icon a {
    background: none no-repeat scroll left top transparent;
}
.web-icon, .web-icon a {
    background: none no-repeat scroll left top transparent;
}
.msnm-icon, .msnm-icon a {
    background: none no-repeat scroll left top transparent;
}
.icq-icon, .icq-icon a {
    background: none no-repeat scroll left top transparent;
}
.jabber-icon, .jabber-icon a {
    background: none no-repeat scroll left top transparent;
}
.pm-icon, .pm-icon a {
    background: none no-repeat scroll left top transparent;
}
.quote-icon, .quote-icon a {
    background: none no-repeat scroll left top transparent;
}
.report-icon, .report-icon a {
    background: none no-repeat scroll left top transparent;
}
.warn-icon, .warn-icon a {
    background: none no-repeat scroll left top transparent;
}
.edit-icon, .edit-icon a {
    background: none no-repeat scroll left top transparent;
}
.delete-icon, .delete-icon a {
    background: none no-repeat scroll left top transparent;
}
.info-icon, .info-icon a {
    background: none no-repeat scroll left top transparent;
}
ul.profile-icons li.email-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.aim-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.yahoo-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.web-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.msnm-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.icq-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.jabber-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.pm-icon {
    height: 20px;
    width: 28px;
}
ul.profile-icons li.quote-icon {
    height: 20px;
    width: 54px;
}
ul.profile-icons li.report-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.edit-icon {
    height: 20px;
    width: 42px;
}
ul.profile-icons li.delete-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.info-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.warn-icon {
    height: 20px;
    width: 20px;
}
ul.profile-icons li.edit-icon {
    margin: 0 0 0 3px;
}
ul.profile-icons li.quote-icon {
    margin: 0 0 0 10px;
}
ul.profile-icons li.info-icon, ul.profile-icons li.report-icon {
    margin: 0 3px 0 0;
}
#cp-menu {
    float: left;
    margin-bottom: 5px;
    margin-top: 1em;
    width: 19%;
}
#cp-main {
    float: left;
    width: 81%;
}
#cp-main .content {
    padding: 0;
}
#cp-main h3, #cp-main hr, #cp-menu hr {
    border-color: #BFBFBF;
}
#cp-main .panel p {
    font-size: 1.1em;
}
#cp-main .panel ol {
    font-size: 1.1em;
    margin-left: 2em;
}
#cp-main .panel li.row {
    border-bottom: 1px solid #CBCBCB;
    border-top: 1px solid #F9F9F9;
}
ul.cplist {
    border-top: 1px solid #CBCBCB;
    margin-bottom: 5px;
}
#cp-main .panel li.header dd, #cp-main .panel li.header dt {
    color: #C2C2C2;
    margin-bottom: 2px;
}
#cp-main table.table1 {
    margin-bottom: 1em;
}
#cp-main table.table1 thead th {
    border-bottom: 1px solid #333333;
    color: #333333;
    font-weight: bold;
    padding: 5px;
}
#cp-main table.table1 tbody th {
    background-color: transparent !important;
    border-bottom: medium none;
    font-style: italic;
}
#cp-main .pagination {
    float: right;
    padding-top: 1px;
    width: auto;
}
#cp-main .postbody p {
    font-size: 1.1em;
}
#cp-main .pm-message {
    background-color: #1A1A1A;
    border: 1px solid #E2E2E2;
    float: none;
    margin: 10px 0;
    width: auto;
}
.pm-message h2 {
    padding-bottom: 5px;
}
#cp-main .postbody h3, #cp-main .box2 h3 {
    margin-top: 0;
}
#cp-main .buttons {
    margin-left: 0;
}
#cp-main ul.linklist {
    margin: 0;
}
.mcp-main .postbody {
    width: 100%;
}
#tabs {
    line-height: normal;
    margin: 20px 0 -1px 7px;
    min-width: 570px;
}
#tabs ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#tabs li {
    display: inline;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#tabs a {
    background: none no-repeat scroll 0 -35px transparent;
    cursor: pointer;
    float: left;
    margin: 0 1px 0 0;
    padding: 0 0 0 5px;
    position: relative;
    text-decoration: none;
}
#tabs a span {
    background: none no-repeat scroll 100% -35px transparent;
    color: #828282;
    display: block;
    float: left;
    padding: 6px 10px 6px 5px;
    white-space: nowrap;
}
#tabs a:hover span {
    color: #BCBCBC;
}
#tabs .activetab a {
    background-position: 0 0;
    border-bottom: 1px solid #EBEBEB;
}
#tabs .activetab a span {
    background-position: 100% 0;
    color: #333333;
    padding-bottom: 7px;
}
#tabs a:hover {
    background-position: 0 -70px;
}
#tabs a:hover span {
    background-position: 100% -70px;
}
#tabs .activetab a:hover {
    background-position: 0 0;
}
#tabs .activetab a:hover span {
    background-position: 100% 0;
    color: #C2C2C2;
}
#minitabs {
    line-height: normal;
    margin: -20px 7px 0 0;
}
#minitabs ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#minitabs li {
    background-color: #F2F2F2;
    display: block;
    float: right;
    font-size: 1em;
    font-weight: bold;
    margin-left: 2px;
    padding: 0 10px 4px;
}
#minitabs a {
}
#minitabs a:hover {
    text-decoration: none;
}
#minitabs li.activetab {
    background-color: #F9F9F9;
}
#minitabs li.activetab a, #minitabs li.activetab a:hover {
    color: #333333;
}
#navigation {
    padding-top: 36px;
    width: 100%;
}
#navigation ul {
    list-style: none outside none;
}
#navigation li {
    display: inline;
    font-weight: bold;
    margin: 1px 0;
    padding: 0;
}
#navigation a {
    background: none repeat-y scroll 100% 0 #CFCFCF;
    color: #333333;
    display: block;
    font-weight: bold;
    margin: 1px 0;
    padding: 5px;
    text-decoration: none;
}
#navigation a:hover {
    background-color: #C6C6C6;
    background-image: none;
    color: #BCBCBC;
    text-decoration: none;
}
#navigation #active-subsection a {
    background-color: #F9F9F9;
    background-image: none;
    color: #D3D3D3;
    display: block;
}
#navigation #active-subsection a:hover {
    color: #D3D3D3;
}
#cp-main h2 {
    border-bottom: medium none;
    color: #333333;
    margin-left: 10px;
    padding: 0;
}
#cp-main .panel {
    background-color: #F9F9F9;
}
#cp-main .pm {
    background-color: #1A1A1A;
}
#cp-main span.corners-top, #cp-menu span.corners-top {
    background-image: none;
}
#cp-main span.corners-top span, #cp-menu span.corners-top span {
    background-image: none;
}
#cp-main span.corners-bottom, #cp-menu span.corners-bottom {
    background-image: none;
}
#cp-main span.corners-bottom span, #cp-menu span.corners-bottom span {
    background-image: none;
}
#cp-main .panel #topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
    background-image: none;
}
#cp-main .panel #topicreview span.corners-top span, #cp-menu .panel #topicreview span.corners-top span {
    background-image: none;
}
#cp-main .panel #topicreview span.corners-bottom, #cp-menu .panel #topicreview span.corners-bottom {
    background-image: none;
}
#cp-main .panel #topicreview span.corners-bottom span, #cp-menu .panel #topicreview span.corners-bottom span {
    background-image: none;
}
.cp-mini {
    background-color: #F9F9F9;
    margin: 10px 15px 10px 5px;
    padding: 0 5px;
}
.cp-mini span.corners-top, .cp-mini span.corners-bottom {
    margin: 0 -5px;
}
dl.mini dt {
    color: #676767;
    font-weight: bold;
}
dl.mini dd {
    padding-top: 4px;
}
.friend-online {
    font-weight: bold;
}
.friend-offline {
    font-style: italic;
}
#pm-menu {
    line-height: 2.5em;
}
.current {
    color: #999999;
}
ol.def-rules {
    padding-left: 0;
}
ol.def-rules li {
    line-height: 180%;
    padding: 1px;
}
.pmlist li.bg1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 0 3px;
}
.pmlist li.bg2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 0 3px;
}
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
    border-left-color: #BCBCBC;
    border-right-color: #BCBCBC;
}
.pmlist li.pm_marked_colour, .pm_marked_colour {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #1A1A1A;
    border-image: none;
    border-style: solid;
    border-width: 0 3px;
}
.pmlist li.pm_replied_colour, .pm_replied_colour {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C2C2C2;
    border-image: none;
    border-style: solid;
    border-width: 0 3px;
}
.pmlist li.pm_friend_colour, .pm_friend_colour {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #BDBDBD;
    border-image: none;
    border-style: solid;
    border-width: 0 3px;
}
.pmlist li.pm_foe_colour, .pm_foe_colour {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C2C2C2;
    border-image: none;
    border-style: solid;
    border-width: 0 3px;
}
.pm-legend {
    border-left-style: solid;
    border-left-width: 10px;
    border-right-width: 0;
    margin-bottom: 3px;
    padding-left: 3px;
}
#gallery label {
    background: none repeat scroll 0 0 #1A1A1A;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 10px;
    padding: 5px;
    position: relative;
    text-align: center;
    width: auto;
}
#gallery label:hover {
    background-color: #EEEEEE;
}
fieldset {
    border-width: 0;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 1.1em;
}
input {
    cursor: pointer;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: normal;
    padding: 0 3px;
    vertical-align: middle;
}
select {
    background-color: #FAFAFA;
    border: 1px solid #666666;
    cursor: pointer;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-weight: normal;
    padding: 1px;
    vertical-align: middle;
}
option {
    padding-right: 1em;
}
option.disabled-option {
    color: graytext;
}
textarea {
    font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 2px;
    width: 60%;
}
label {
    color: #676767;
    cursor: default;
    padding-right: 5px;
}
label input {
    vertical-align: middle;
}
label img {
    vertical-align: middle;
}
fieldset dl {
    padding: 4px 0;
}
fieldset dt {
    display: block;
    float: left;
    text-align: left;
    width: 40%;
}
fieldset dd {
    margin-bottom: 3px;
    margin-left: 41%;
    vertical-align: top;
}
fieldset.fields1 dt {
    border-right-width: 0;
    width: 15em;
}
fieldset.fields1 dd {
    border-left-width: 0;
    margin-left: 15em;
}
fieldset.fields1 {
    background-color: transparent;
}
fieldset.fields1 div {
    margin-bottom: 3px;
}
fieldset.fields2 dt {
    border-right-width: 0;
    width: 15em;
}
fieldset.fields2 dd {
    border-left-width: 0;
    margin-left: 16em;
}
dt label {
    font-weight: bold;
    text-align: left;
}
dd label {
    color: #333333;
    white-space: nowrap;
}
dd input, dd textarea {
    margin-right: 3px;
}
dd select {
    width: auto;
}
dd textarea {
    width: 85%;
}
fieldset dl:hover dt label {
    color: #C2C2C2;
}
fieldset.fields2 dl:hover dt label {
    color: inherit;
}
#timezone {
    width: 95%;
}
* html #timezone {
    width: 50%;
}
fieldset.quick-login {
    margin-top: 5px;
}
fieldset.quick-login input {
    width: auto;
}
fieldset.quick-login input.inputbox {
    background-color: #F3F3F3;
    margin-right: 5px;
    vertical-align: middle;
    width: 15%;
}
fieldset.quick-login label {
    padding-right: 2px;
    white-space: nowrap;
}
fieldset.display-options {
    margin: 3px 0 5px;
    text-align: center;
}
fieldset.display-options label {
    padding-right: 2px;
    white-space: nowrap;
}
fieldset.display-options a {
    margin-top: 3px;
}
fieldset.display-actions {
    line-height: 2em;
    padding-right: 1em;
    text-align: right;
    white-space: nowrap;
}
fieldset.display-actions label {
    padding-right: 2px;
    white-space: nowrap;
}
fieldset.sort-options {
    line-height: 2em;
}
fieldset.forum-selection {
    float: right;
    margin: 5px 0 3px;
}
fieldset.forum-selection2 {
    float: right;
    margin: 13px 0 3px;
}
fieldset.jumpbox {
    height: 2.5em;
    margin-top: 15px;
    text-align: right;
}
fieldset.quickmod {
    float: right;
    height: 2.5em;
    text-align: right;
    width: 50%;
}
fieldset.submit-buttons {
    margin: 5px 0;
    text-align: center;
    vertical-align: middle;
}
fieldset.submit-buttons input {
    padding-bottom: 3px;
    padding-top: 3px;
    vertical-align: middle;
}
#format-buttons {
    margin: 15px 0 2px;
}
#format-buttons input, #format-buttons select {
    vertical-align: middle;
}
#message-box {
    width: 80%;
}
#message-box textarea {
    color: #333333;
    font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    width: 100%;
}
#smiley-box {
    float: right;
    width: 18%;
}
#smiley-box img {
    margin: 3px;
}
.inputbox {
    background-color: #1A1A1A;
    border: 1px solid #C0C0C0;
    color: #333333;
    cursor: text;
    padding: 2px;
}
.inputbox:hover {
    border: 1px solid #EAEAEA;
}
.inputbox:focus {
    border: 1px solid #EAEAEA;
    color: #4B4B4B;
}
input.inputbox {
    width: 85%;
}
input.medium {
    width: 50%;
}
input.narrow {
    width: 25%;
}
input.tiny {
    width: 125px;
}
textarea.inputbox {
    width: 85%;
}
.autowidth {
    width: auto !important;
}
input.button1, input.button2 {
    font-size: 1em;
}
a.button1, input.button1, input.button3, a.button2, input.button2 {
    background: none repeat-x scroll center top #FAFAFA;
    color: #000000;
    font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
    padding-bottom: 1px;
    padding-top: 1px;
    width: auto !important;
}
a.button1, input.button1 {
    border: 1px solid #666666;
    font-weight: bold;
}
input.button3 {
    background-image: none;
    font-variant: small-caps;
    height: 12px;
    line-height: 5px;
    margin: 0;
    padding: 0;
}
a.button2, input.button2, input.button3 {
    border: 1px solid #666666;
}
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
    background-position: 0 1px;
    color: #C2C2C2;
    line-height: 250%;
    padding: 2px 8px;
    text-decoration: none;
    vertical-align: text-bottom;
}
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
    background-position: 0 100%;
    border: 1px solid #BCBCBC;
    color: #BCBCBC;
}
input.disabled {
    color: #666666;
    font-weight: normal;
}
.search-box {
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}
.search-box input {
}
input.search {
    background-image: none;
    background-position: left 1px;
    background-repeat: no-repeat;
    padding-left: 17px;
}
.full {
    width: 95%;
}
.medium {
    width: 50%;
}
.narrow {
    width: 25%;
}
.tiny {
    width: 10%;
}
* html table, * html select, * html input {
    font-size: 100%;
}
* html hr {
    margin: 0;
}
* html span.corners-top, * html span.corners-bottom {
    background-image: url("./styles/eMuza/theme/images/corners_left.gif");
}
* html span.corners-top span, * html span.corners-bottom span {
    background-image: url("./styles/eMuza/theme/images/corners_right.gif");
}
table.table1 {
    width: 100%;
}
html > body table.table1 {
    width: 100%;
}
* html ul.topiclist li {
    position: relative;
}
* html .postbody h3 img {
    vertical-align: middle;
}
html > body dd label input {
    vertical-align: text-bottom;
}
* html input.button1, * html input.button2 {
    margin-bottom: 1px;
    padding-bottom: 0;
}
* html .column1, * html .column2 {
    width: 45%;
}
.clearfix, #tabs, #minitabs, fieldset dl, ul.topiclist dl, dl.polls {
    height: 1%;
    overflow: hidden;
}
* html .post {
    height: 25%;
    overflow: hidden;
}
* html .clearfix, * html .navbar, ul.linklist {
    height: 4%;
    overflow: hidden;
}
dl.icon {
    height: auto !important;
    min-height: 35px;
}
* html #search-box {
    width: 25%;
}
:first-child + html dl.details dd {
    float: none;
    margin-left: 30%;
}
* html dl.details dd {
    float: none;
    margin-left: 30%;
}

hr {
    border-color: #313131 #34383C #34383C;
}
hr.dashed {
    border-top-color: #313131;
}
#search-box {
    color: #34383C;
}
#search-box #keywords {
    background-color: #34383C;
}
#search-box input {
    border-color: #333333;
}
.headerbar {
    background-color: #1A1A1A;
    background-image: url("./styles/eMuza/theme/images/bg_header.gif");
    color: #34383C;
}
.headerbar2 {
    background-color: #1A1A1A;
    color: #34383C;
}
.navbar {
    background-color: #22262A;
}
.forabg {
    background-color: #22262A;
    background-image: url("./styles/eMuza/theme/images/bg_list.gif");
}
.forumbg {
    background-color: #242424;
    background-image: url("./styles/eMuza/theme/images/bg_header.gif");
}
.panel {
    color: #CDCDCD;
}
.post:target .content {
    color: #C2C2C2;
}
.post:target h3 a {
    color: #C2C2C2;
}
.bg1 {
    background-color: #282C31;
}
.bg2 {
    background-color: #22262A;
}
.bg3 {
    background-color: #22262A;
}
.ucprowbg {
    background-color: #DCDEE2;
}
.fieldsbg {
    background-color: #E7E8EA;
}
span.corners-top {
    background-image: url("./styles/eMuza/theme/images/corners_left.png");
}
span.corners-top span {
    background-image: url("./styles/eMuza/theme/images/corners_right.png");
}
span.corners-bottom {
    background-image: url("./styles/eMuza/theme/images/corners_left.png");
}
span.corners-bottom span {
    background-image: url("./styles/eMuza/theme/images/corners_right.png");
}
ul.navlinks {
    border-bottom-color: #34383C;
}
table.table1 thead th {
    color: #34383C;
}
table.table1 tbody tr {
    border-color: #BFC1CF;
}
table.table1 tbody tr:hover, table.table1 tbody tr.hover {
    background-color: #33383E;
    color: #000000;
}
table.table1 td {
    color: #A0A0A0;
}
table.table1 tbody td {
    border-top-color: #4C4C4C;
}
table.table1 tbody th {
    background-color: #34383C;
    border-bottom-color: #C2C2C2;
    color: #D4D4D4;
}
table.info tbody th {
    color: #C2C2C2;
}
dl.details dt {
    color: #C2C2C2;
}
dl.details dd {
    color: #A0A0A0;
}
.sep {
    color: #1198D9;
}
.pagination span strong {
    background-color: #585858;
    border-color: #585858;
    color: #34383C;
}
.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
    background-color: #ECEDEE;
    border-color: #B4BAC0;
    color: #A6A6A6;
}
.pagination span a:hover {
    background-color: #A8A8A8;
    border-color: #A8A8A8;
    color: #34383C;
}
.row .pagination {
    background-image: url("./styles/eMuza/theme/images/icon_pages.gif");
}
.row .pagination span a, li.pagination span a {
    background-color: #34383C;
}
.row .pagination span a:hover, li.pagination span a:hover {
    background-color: #A8A8A8;
}
.copyright {
    color: #555555;
}
.error {
    color: #CFCFCF;
}
.reported {
    background-color: #F7ECEF;
}
li.reported:hover {
    background-color: #343434 !important;
}
.sticky, .announce {
}
div.rules {
    background-color: #343434;
    color: #CFCFCF;
}
p.rules {
    background-color: #343434;
    background-image: none;
}
a:link {
    color: #C9C9C9;
}
a:visited {
    color: #C9C9C9;
}
a:hover {
    color: #C3C3C3;
}
a:active {
    color: #A8A8A8;
}
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
    color: #9E9E9E;
}
#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
    color: #9E9E9E;
}
#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
    color: #666666;
}
#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
    color: #C8E6FF;
}
a.forumtitle {
    color: #C9C9C9;
}
a.forumtitle:hover {
    color: #ABABAB;
}
a.forumtitle:active {
    color: #C9C9C9;
}
a.topictitle {
    color: #C9C9C9;
}
a.topictitle:hover {
    color: #ABABAB;
}
a.topictitle:active {
    color: #C9C9C9;
}
.postlink {
    border-bottom-color: #A8A8A8;
    color: #C4C4C4;
}
.postlink:visited {
    border-bottom-color: #666666;
    color: #BDBDBD;
}
.postlink:active {
    color: #B5B5B5;
}
.postlink:hover {
    background-color: #22262A;
    color: #BDBDBD;
}
.signature a, .signature a:visited, .signature a:active, .signature a:hover {
    background-color: transparent;
}
.postprofile a:link, .postprofile a:active, .postprofile a:visited, .postprofile dt.author a {
    color: #C9C9C9;
}
.postprofile a:hover, .postprofile dt.author a:hover {
    color: #C3C3C3;
}
.search .postprofile a {
    color: #C9C9C9;
}
.search .postprofile a:hover {
    color: #C3C3C3;
}
a.top {
    background-image: url("./styles/eMuza/imageset/icon_back_top.gif");
}
a.top2 {
    background-image: url("./styles/eMuza/imageset/icon_back_top.gif");
}
a.up {
    background-image: url("./styles/eMuza/theme/images/arrow_up.gif");
}
a.down {
    background-image: url("./styles/eMuza/theme/images/arrow_down.gif");
}
a.left {
    background-image: url("./styles/eMuza/theme/images/arrow_left.gif");
}
a.right {
    background-image: url("./styles/eMuza/theme/images/arrow_right.gif");
}
a.up:hover {
    background-color: transparent;
}
a.left:hover {
    color: #A8A8A8;
}
a.right:hover {
    color: #A8A8A8;
}
ul.forums {
    background-color: #22262A;
    background-image: url("./styles/eMuza/theme/images/gradient.gif");
}
ul.topiclist li {
    color: #7E7E7E;
}
ul.topiclist dd {
    border-left-color: #34383C;
}
.rtl ul.topiclist dd {
    border-left-color: transparent;
    border-right-color: #34383C;
}
ul.topiclist li.row dt a.subforum.read {
    background-image: url("./styles/eMuza/imageset/subforum_read.gif");
}
ul.topiclist li.row dt a.subforum.unread {
    background-image: url("./styles/eMuza/imageset/subforum_unread.gif");
}
li.row {
    border-bottom-color: #181818;
    border-top-color: #34383C;
}
li.row strong {
    color: #C2C2C2;
}
li.row:hover {
    background-color: #2D3338;
}
li.row:hover dd {
    border-left-color: #313131;
}
.rtl li.row:hover dd {
    border-left-color: transparent;
    border-right-color: #313131;
}
li.header dt, li.header dd {
    color: #9E9E9E;
}
ul.topiclist dd.searchextra {
    color: #D4D4D4;
}
.postbody {
    color: #D4D4D4;
}
.content {
    color: #D4D4D4;
}
.content h2, .panel h2 {
    border-bottom-color: #313131;
    color: #CECECE;
}
dl.faq dt {
    color: #D4D4D4;
}
.posthilit {
    background-color: #F3BFCC;
    color: #CFCFCF;
}
.signature {
    border-top-color: #313131;
}
.notice {
    border-top-color: #313131;
}
blockquote {
    background-color: #1B1E21;
    border-color: #4F4F4F;
}
blockquote blockquote {
    background-color: #1F2326;
}
blockquote blockquote blockquote {
    background-color: #1B1E21;
}
dl.codebox {
    background-color: #34383C;
    border-color: #C9D2D8;
}
dl.codebox dt {
    border-bottom-color: #313131;
}
dl.codebox code {
    color: #2E8B57;
}
.syntaxbg {
    color: #34383C;
}
.syntaxcomment {
    color: #FF8000;
}
.syntaxdefault {
    color: #0000BB;
}
.syntaxhtml {
    color: #C2C2C2;
}
.syntaxkeyword {
    color: #007700;
}
.syntaxstring {
    color: #DD0000;
}
.attachbox {
    background-color: #34383C;
    border-color: #C9D2D8;
}
.pm-message .attachbox {
    background-color: #F2F3F3;
}
.attachbox dd {
    border-top-color: #C9D2D8;
}
.attachbox p {
    color: #666666;
}
.attachbox p.stats {
    color: #666666;
}
.attach-image img {
    border-color: #999999;
}
dl.file dd {
    color: #666666;
}
dl.thumbnail img {
    background-color: #34383C;
    border-color: #666666;
}
dl.thumbnail dd {
    color: #666666;
}
dl.thumbnail dt a:hover {
    background-color: #EEEEEE;
}
dl.thumbnail dt a:hover img {
    border-color: #A8A8A8;
}
fieldset.polls dl {
    border-top-color: #DCDEE2;
    color: #666666;
}
fieldset.polls dl.voted {
    color: #C2C2C2;
}
fieldset.polls dd div {
    color: #34383C;
}
.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
    border-right-color: transparent;
}
.pollbar1 {
    background-color: #AA2346;
    border-bottom-color: #74162C;
    border-right-color: #74162C;
}
.rtl .pollbar1 {
    border-left-color: #74162C;
}
.pollbar2 {
    background-color: #BE1E4A;
    border-bottom-color: #8C1C38;
    border-right-color: #8C1C38;
}
.rtl .pollbar2 {
    border-left-color: #8C1C38;
}
.pollbar3 {
    background-color: #D11A4E;
    border-bottom-color: #AA2346;
    border-right-color: #AA2346;
}
.rtl .pollbar3 {
    border-left-color: #AA2346;
}
.pollbar4 {
    background-color: #E41653;
    border-bottom-color: #BE1E4A;
    border-right-color: #BE1E4A;
}
.rtl .pollbar4 {
    border-left-color: #BE1E4A;
}
.pollbar5 {
    background-color: #F81157;
    border-bottom-color: #D11A4E;
    border-right-color: #D11A4E;
}
.rtl .pollbar5 {
    border-left-color: #D11A4E;
}
.postprofile {
    border-left-color: #34383C;
    color: #666666;
}
.rtl .postprofile {
    border-left-color: transparent;
    border-right-color: #34383C;
}
.pm .postprofile {
    border-left-color: #DDDDDD;
}
.rtl .pm .postprofile {
    border-left-color: transparent;
    border-right-color: #DDDDDD;
}
.postprofile strong {
    color: #C2C2C2;
}
.online {
    background-image: url("./styles/eMuza/imageset/th/icon_user_online.gif");
}
.reply-icon span {
    background-image: url("./styles/eMuza/imageset/th/button_topic_reply.gif");
}
.post-icon span {
    background-image: url("./styles/eMuza/imageset/th/button_topic_new.gif");
}
.locked-icon span {
    background-image: url("./styles/eMuza/imageset/th/button_topic_locked.gif");
}
.pmreply-icon span {
    background-image: url("./styles/eMuza/imageset/th/button_pm_reply.gif");
}
.newpm-icon span {
    background-image: url("./styles/eMuza/imageset/th/button_pm_new.gif");
}
.forwardpm-icon span {
    background-image: url("./styles/eMuza/imageset/th/button_pm_forward.gif");
}
a.print {
    background-image: url("./styles/eMuza/theme/images/icon_print.gif");
}
a.sendemail {
    background-image: url("./styles/eMuza/theme/images/icon_sendemail.gif");
}
a.fontsize {
    background-image: url("./styles/eMuza/theme/images/icon_fontsize.gif");
}
.sitehome {
    background-image: url("./styles/eMuza/theme/images/icon_home.gif");
}
.icon-faq {
    background-image: url("./styles/eMuza/theme/images/icon_faq.gif");
}
.icon-members {
    background-image: url("./styles/eMuza/theme/images/icon_members.gif");
}
.icon-home {
    background-image: url("./styles/eMuza/theme/images/icon_home.gif");
}
.icon-ucp {
    background-image: url("./styles/eMuza/theme/images/icon_ucp.gif");
}
.icon-register {
    background-image: url("./styles/eMuza/theme/images/icon_register.gif");
}
.icon-logout {
    background-image: url("./styles/eMuza/theme/images/icon_logout.gif");
}
.icon-bookmark {
    background-image: url("./styles/eMuza/theme/images/icon_bookmark.gif");
}
.icon-bump {
    background-image: url("./styles/eMuza/theme/images/icon_bump.gif");
}
.icon-subscribe {
    background-image: url("./styles/eMuza/theme/images/icon_subscribe.gif");
}
.icon-unsubscribe {
    background-image: url("./styles/eMuza/theme/images/icon_unsubscribe.gif");
}
.icon-pages {
    background-image: url("./styles/eMuza/theme/images/icon_pages.gif");
}
.icon-search {
    background-image: url("./styles/eMuza/theme/images/icon_search.gif");
}
.email-icon, .email-icon a {
    background-image: url("./styles/eMuza/imageset/icon_contact_email.gif");
}
.aim-icon, .aim-icon a {
    background-image: url("./styles/eMuza/imageset/icon_contact_aim.gif");
}
.yahoo-icon, .yahoo-icon a {
    background-image: url("./styles/eMuza/imageset/icon_contact_yahoo.gif");
}
.web-icon, .web-icon a {
    background-image: url("./styles/eMuza/imageset/icon_contact_www.gif");
}
.msnm-icon, .msnm-icon a {
    background-image: url("./styles/eMuza/imageset/icon_contact_msnm.gif");
}
.icq-icon, .icq-icon a {
    background-image: url("./styles/eMuza/imageset/icon_contact_icq.gif");
}
.jabber-icon, .jabber-icon a {
    background-image: url("./styles/eMuza/imageset/icon_contact_jabber.gif");
}
.pm-icon, .pm-icon a {
    background-image: url("./styles/eMuza/imageset/th/icon_contact_pm.gif");
}
.quote-icon, .quote-icon a {
    background-image: url("./styles/eMuza/imageset/th/icon_post_quote.gif");
}
.report-icon, .report-icon a {
    background-image: url("./styles/eMuza/imageset/icon_post_report.gif");
}
.edit-icon, .edit-icon a {
    background-image: url("./styles/eMuza/imageset/th/icon_post_edit.gif");
}
.delete-icon, .delete-icon a {
    background-image: url("./styles/eMuza/imageset/icon_post_delete.gif");
}
.info-icon, .info-icon a {
    background-image: url("./styles/eMuza/imageset/icon_post_info.gif");
}
.warn-icon, .warn-icon a {
    background-image: url("./styles/eMuza/imageset/icon_user_warn.gif");
}
#cp-main h3, #cp-main hr, #cp-menu hr {
    border-color: #A4B3BF;
}
#cp-main .panel li.row {
    border-bottom-color: #B5C1CB;
    border-top-color: #1C2023;
}
ul.cplist {
    border-top-color: #B5C1CB;
}
#cp-main .panel li.header dd, #cp-main .panel li.header dt {
    color: #C2C2C2;
}
#cp-main table.table1 thead th {
    border-bottom-color: #D4D4D4;
    color: #D4D4D4;
}
#cp-main .pm-message {
    background-color: #34383C;
    border-color: #DBDEE2;
}
#tabs a {
    background-image: url("./styles/eMuza/theme/images/bg_tabs1.gif");
}
#tabs a span {
    background-image: url("./styles/eMuza/theme/images/bg_tabs2.gif");
    color: #A0A0A0;
}
#tabs a:hover span {
    color: #CFCFCF;
}
#tabs .activetab a {
    border-bottom-color: #22262A;
}
#tabs .activetab a span {
    color: #D4D4D4;
}
#tabs .activetab a:hover span {
    color: #C2C2C2;
}
#minitabs li {
    background-color: #22262A;
}
#minitabs li.activetab {
    background-color: #1C2023;
}
#minitabs li.activetab a, #minitabs li.activetab a:hover {
    color: #D4D4D4;
}
#navigation a {
    background-color: #242424;
    background-image: url("./styles/eMuza/theme/images/bg_menu.gif");
    color: #333333;
}
#navigation a:hover {
    background-color: #2C2C2C;
    color: #CFCFCF;
}
#navigation #active-subsection a {
    background-color: #1C2023;
    background-image: none;
    color: #C3C3C3;
}
#navigation #active-subsection a:hover {
    color: #C3C3C3;
}
#cp-main h2 {
    color: #D4D4D4;
}
#cp-main .panel {
    background-color: #1C2023;
}
#cp-main .pm {
    background-color: #34383C;
}
#cp-main span.corners-top, #cp-menu span.corners-top {
}
#cp-main span.corners-top span, #cp-menu span.corners-top span {
}
#cp-main span.corners-bottom, #cp-menu span.corners-bottom {
}
#cp-main span.corners-bottom span, #cp-menu span.corners-bottom span {
}
#cp-main .panel #topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
    background-image: url("./styles/eMuza/theme/images/corners_left.gif");
}
#cp-main .panel #topicreview span.corners-top span, #cp-menu .panel #topicreview span.corners-top span {
    background-image: url("./styles/eMuza/theme/images/corners_right.gif");
}
#cp-main .panel #topicreview span.corners-bottom, #cp-menu .panel #topicreview span.corners-bottom {
    background-image: url("./styles/eMuza/theme/images/corners_left.gif");
}
#cp-main .panel #topicreview span.corners-bottom span, #cp-menu .panel #topicreview span.corners-bottom span {
    background-image: url("./styles/eMuza/theme/images/corners_right.gif");
}
.cp-mini {
    background-color: #22262A;
}
dl.mini dt {
    color: #949494;
}
.current {
    color: #999999 !important;
}
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
    border-left-color: #CFCFCF;
    border-right-color: #CFCFCF;
}
.pmlist li.pm_marked_colour, .pm_marked_colour {
    border-color: #FF6600;
}
.pmlist li.pm_replied_colour, .pm_replied_colour {
    border-color: #A9B8C2;
}
.pmlist li.pm_friend_colour, .pm_friend_colour {
    border-color: #5D8FBD;
}
pmlist li.pm_foe_colour, .pm_foe_colour {
    border-color: #C2C2C2;
}
#gallery label {
    background-color: #34383C;
    border-color: #CCCCCC;
}
#gallery label:hover {
    background-color: #EEEEEE;
}
select {
    background-color: #4C4C4C;
    border-color: #666666;
}
label {
    color: #949494;
}
option.disabled-option {
    color: graytext;
}
dd label {
    color: #B4BAC0;
}
fieldset dl:hover dt label {
    color: #C2C2C2;
}
fieldset.fields2 dl:hover dt label {
    color: inherit;
}
fieldset.quick-login input.inputbox {
    background-color: #F2F3F3;
}
#message-box textarea {
    color: #D4D4D4;
}
.inputbox {
    background-color: #34383C;
    border-color: #B4BAC0;
    color: #D4D4D4;
}
.inputbox:hover {
    border-color: #41464B;
}
.inputbox:focus {
    border-color: #41464B;
    color: #B1B1B1;
}
a.button1, input.button1, input.button3, a.button2, input.button2 {
    background-color: #4C4C4C;
    background-image: url("./styles/eMuza/theme/images/bg_button.gif");
    color: #000000;
}
a.button1, input.button1 {
    border-color: #666666;
}
input.button3 {
    background-image: none;
}
a.button2, input.button2, input.button3 {
    border-color: #666666;
}
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
    color: #C2C2C2;
}
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
    border-color: #CFCFCF;
    color: #CFCFCF;
}
input.search {
    background-image: url("./styles/eMuza/theme/images/icon_textbox_search.gif");
}
input.disabled {
    color: #666666;
}
