@charset "utf-8";
/* CSS Document */
body { background:#000 url(../images/fpsthailand-bg.jpg) no-repeat top center; margin:0; padding:0;}
body img { border:0;}
#wrap { width:1024px; height:596px; margin:0 auto; position:relative;}
#fps-preloading {
	width:500px;
	height:300px;
	position:absolute;
	margin:155px 0 0 241px;
	left: 19px;
}
#enter-fpsthailand {
	width:502px;
	height:30px;
	position:absolute;
	margin:470px 0 0 240px;
	left: 20px;
}
#stat-fpsthailand {
	width:30px;
	height:30px;
	position:absolute;
	width:1024px;
	text-align:center;
	margin-top:600px;
	left: 0px;
}
