div.wrap {
width : 993px;
margin : 0 auto;
text-align : left;
}
div#top div#nav {
float : left;
clear : both;
width : 500px;
height : 52px;
margin : 22px 0 0;
}
div#top div#nav ul {
float : left;
width : 500px;
height : 52px;
list-style-type : none;
}
div#nav ul li {
float : left;
height : 52px;
}
div#nav ul li a {
border : 0;
height : 52px;
display : block;
line-height : 52px;
text-indent : -9999px;
}
div#header {
margin : -1px 0 0;
}
div#video-header {
height : 683px;
margin : -1px 0 0;
}
/*div#header div.wrap {
height : 299px;
background : url(images/header-bg.png) no-repeat 50% 0;
}*/
/*div#header div#slide-holder {
z-index : 40;
width : 500px;
height : 300px;
position : absolute;
}*/
div#header div#slide-holder div#slide-runner {
width : 500px;
height : 300px;
overflow : hidden;
position : absolute;
}
div#header div#slide-holder img {
margin : 0;
display : none;
position : absolute;
}
div#header div#slide-holder div#slide-controls {
left : 0;
bottom : 228px;
width : 500px;
height : 0px;
display : none;
position : absolute;
background : url(images/slide-bg.png) 0 0;
}
/*div#header div#slide-holder div#slide-controls p.text {
float : left;
color : #fff;
display : inline;
font-size : 10px;
line-height : 16px;
margin : 15px 0 0 20px;
text-transform : uppercase;
}*/
div#header div#slide-holder div#slide-controls p#slide-nav {
float : left;
height : 24px;
display : inline;
margin : 200px 0 0 7px;
}
div#header div#slide-holder div#slide-controls p#slide-nav a {
float : left;
width : 24px;
height : 24px;
display : inline;
font-size : 11px;
margin : 0 5px 0 0;
line-height : 24px;
font-weight : bold;
text-align : center;
text-decoration : none;
background-position : 0 0;
background-repeat : no-repeat;
}
div#header div#slide-holder div#slide-controls p#slide-nav a.on {
background-position : 0 -24px;
}
div#header div#slide-holder div#slide-controls p#slide-nav a {
background-image : url(images/silde-nav.png);
}
div#nav ul li a {
background : url(images/nav.png) no-repeat;
}

#adverLeft { width:262px; height:596px; position:absolute; text-indent:-9999px; left:0; top:0;}
#adverLeft a { width:262px; height:596px; display:block;}
#adverRight { width:262px; height:596px; position:absolute; text-indent:-9999px; right:0; top:0;}
#adverRight a { width:262px; height:596px; display:block;}

